# Libraries

In [1]:
# import libraries
# ================

# for date and time opeations
from datetime import datetime
# for file and folder operations
import os
# for regular expression opeations
import re
# for listing files in a folder
import glob
# for getting web contents
import requests 
# storing and analysing data
import pandas as pd
# for scraping web contents
from bs4 import BeautifulSoup

# Web Scrapping

In [2]:
# get data
# ========

# link at which web data recides
link = 'https://www.mohfw.gov.in/'
# get web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [3]:
# find the table
# ==============
# our target table is the last table in the page

# get the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
# print(thead)

# get all the rows in table head
# it usually have only one row, which has the column names
head = thead.find_all('tr')
# print(head)

# get the table tbody
# it contains the contents
tbody = soup.find_all('tbody')[-1]
# print(tbody)

# get all the rows in table body
# each row is each state's entry
body = tbody.find_all('tr')
# print(body)

In [4]:
# get the table contents
# ======================

# container for header rows / column title
head_rows = []
# container for table body / contents
body_rows = []

# loop through the head and append each row to head
for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
# print(head_rows)

# loop through the body and append each row to body
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
# print(head_rows)

In [5]:
# save contents in a dataframe
# ============================
    
# skip last 3 rows, it contains unwanted info
# head_rows contains column title
df_bs = pd.DataFrame(body_rows[:len(body_rows)-4], 
                     columns=head_rows[0])         

# Drop 'S. No.' column
df_bs.drop('S. No.', axis=1, inplace=True)

# there are 36 states+UT in India
df_bs.head(36)

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*
0,Andaman and Nicobar Islands,0,33,0,33
1,Andhra Pradesh,1654,2576,73,4303
2,Arunachal Pradesh,44,1,0,45
3,Assam,1651,498,4,2153
4,Bihar,2342,2225,29,4596
5,Chandigarh,77,222,5,304
6,Chhattisgarh,633,244,2,879
7,Dadar Nagar Haveli,13,1,0,14
8,Delhi,15311,10315,708,26334
9,Goa,131,65,0,196
10,Gujarat,4901,13003,1190,19094
11,Haryana,1439,2134,24,3597
12,Himachal Pradesh,199,189,5,393
13,Jammu and Kashmir,2202,1086,36,3324
14,Jharkhand,464,410,7,881
15,Karnataka,3090,1688,57,4835
16,Kerala,973,712,14,1699
17,Ladakh,48,48,1,97
18,Madhya Pradesh,2734,5878,384,8996
19,Maharashtra,42224,35156,2849,80229
20,Manipur,91,41,0,132
21,Meghalaya,19,13,1,33
22,Mizoram,21,1,0,22
23,Nagaland,94,0,0,94
24,Odisha,996,1604,8,2608
25,Puducherry,63,36,0,99
26,Punjab,344,2069,48,2461
27,Rajasthan,2507,7359,218,10084
28,Sikkim,3,0,0,3
29,Tamil Nadu,12700,15762,232,28694
30,Telengana,1550,1627,113,3290
31,Tripura,519,173,0,692
32,Uttarakhand,860,344,11,1215
33,Uttar Pradesh,3828,5648,257,9733
34,West Bengal,4025,2912,366,7303
35,Cases being reassigned to states,8192,,,8192

# Data Cleaning

In [6]:
# date-time information
# =====================

# today's date
now  = datetime.now()

# format date to month-day-year
df_bs['Date'] = now.strftime("%m/%d/%Y") 

# add 'Date' column to dataframe
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')

In [7]:
# remove extra characters from 'Name of State/UT' column
df_bs['Name of State / UT'] = df_bs['Name of State / UT'].str.replace('#', '')

In [8]:
# latitude and longitude information
# ==================================

# latitude of the states
lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670}

# longitude of the states
long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662}

# add latitude column based on 'Name of State / UT' column
df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)

# add longitude column based on 'Name of State / UT' column
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

# df_bs.head(36)

In [9]:
# unique state names
df_bs['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadar Nagar Haveli', 'Delhi', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand',
       'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Telengana', 'Tripura', 'Uttarakhand', 'Uttar Pradesh',
       'West Bengal', 'Cases being reassigned to states', 'Total'],
      dtype=object)

In [10]:
# number of missing values 
df_bs.isna().sum()

Name of State / UT            0
Active Cases*                 0
Cured/Discharged/Migrated*    0
Deaths**                      0
Total Confirmed cases*        0
Date                          0
Latitude                      4
Longitude                     4
dtype: int64

In [11]:
# number of unique values 
df_bs.nunique()

Name of State / UT            37
Active Cases*                 37
Cured/Discharged/Migrated*    34
Deaths**                      26
Total Confirmed cases*        36
Date                           1
Latitude                      33
Longitude                     29
dtype: int64

# Saving data

In [12]:
# saving data
# ===========

# file names as year-month-day.csv format
file_name = now.strftime("%Y_%m_%d")+'.csv'

# location for saving the file
file_loc = 'N:\\projects\\data science\\corona\\date_wise\\'


# save file as a scv file
df_bs.to_csv(file_loc + file_name, index=False)

In [13]:
# column names 
# df_bs.columns

# Combining data

In [14]:
# list of all files available
# ! ls C:\Users\imdevskp\Documents\github\covid_india\.day_by_day_data

In [15]:
# location of the file
loc = 'N:\\projects\\data science\\corona\\date_wise\\'

# list of all files
files = glob.glob(loc+'2020*.csv')
   
# container for each day's data's dataframe
dfs = []

# loop through the files and append to the dfs list
for i in files:
    # read data
    df_temp = pd.read_csv(i)
    
    # rename columns
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
    df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated', 
                                      'Total Confirmed cases *': 'Total Confirmed cases', 
                                      'Total Confirmed cases ': 'Total Confirmed cases'})
    df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .* foreign Nationals\) ',
                                                      'Total Confirmed cases',x))
    
    # append to the df_s
    dfs.append(df_temp)
    
# print(dfs)

# concat dataframes
complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)

c:\users\hp\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:29: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [16]:
# complete_data.columns

## Preprocessing

In [17]:
# fix datatype
#complete_data['Date'] = pd.to_datetime(complete_data['Date'])

# sort rows
#complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

# fill missing values with 0
#cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
#              'Cured/Discharged/Migrated', 'Death']
#complete_data[cols] = complete_data[cols].fillna(0).astype('int')

In [18]:
# rename state/UT names
#complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
#complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [19]:
# select only rows with more than 1 case
#complete_data = complete_data[complete_data['Total Confirmed cases']>0]

## Final dataframe

In [20]:
# random rows
complete_data.sample(3)

,Active Cases*,Cured/Discharged/Migrated,Cured/Discharged/Migrated*,Date,Deaths**,Latitude,Longitude,Name of State / UT,Total Confirmed cases*,Total Confirmed cases*
49,NaN,21.0,NaN,2020-05-12,0.0,34.2996,78.2932,Ladakh,NaN,42.0
79,519.0,NaN,173.0,2020-06-06,0.0,23.9408,91.9882,Tripura,692.0,NaN
102,3090.0,NaN,1688.0,2020-06-06,57.0,15.3173,75.7139,Karnataka,4835.0,NaN

In [21]:
# complete data info
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
Active Cases*                 37 non-null float64
Cured/Discharged/Migrated     68 non-null float64
Cured/Discharged/Migrated*    36 non-null float64
Date                          105 non-null object
Deaths**                      102 non-null float64
Latitude                      97 non-null float64
Longitude                     97 non-null float64
Name of State / UT            105 non-null object
Total Confirmed cases*        37 non-null float64
Total Confirmed cases*        68 non-null float64
dtypes: float64(8), object(2)
memory usage: 8.3+ KB

## Save as .csv file

In [22]:
# save data in a csv file
#complete_data.to_csv('complete.csv', index=False)